.box {
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
	border-radius: var(--border-radius-small);    
}

.box:disabled {
    background-color: var(--color-background-disabled);
}

.box:hover:enabled {
    background-color:  var(--color-background-hover) ;
}

.announcement {
    border: 1px solid var(--color-border-announcement);
}