.dice {
	border-radius: 8px;
	background-color: none;
	border: 2px solid var(--color-border);
	width: var(--dice-width);
	height: var(--dice-height);
	margin: 16px;
	box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}

.dice:hover:enabled {
    background: 2px solid black;
}

.dice:disabled {
    border: 2px solid var(--color-background-disabled);
}

.saved {
    border: 3px solid var(--color-border-focus);
}

.roll {
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-ms-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
}

.clockwise {
	animation: rotation;
	-webkit-animation: rotation;
	-moz-animation: rotation;
	-ms-animation: rotation;
	-o-animation: rotation;
}

.counter-clockwise {
	animation: anti-rotation;
	-webkit-animation: anti-rotation;
	-moz-animation: anti-rotation;
	-ms-animation: anti-rotation;
	-o-animation: anti-rotation;
}
	
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(720deg);
	}
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(720deg);
	}
}

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(720deg);
	}
}

@-ms-keyframes rotation {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(720deg);
	}
}


@-o-keyframes rotation {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(720deg);
	}
}

@keyframes anti-rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-720deg);
	}
}

@-webkit-keyframes anti-rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-720deg);
	}
}

@-moz-keyframes anti-rotation {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(-720deg);
	}
}

@-ms-keyframes anti-rotation {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(-720deg);
	}
}


@-o-keyframes anti-rotation {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(-720deg);
	}
}